.product {
    width: 30%;
    background: rgb(139, 98, 139);
    margin: 0 auto;
    padding: 100px;
    position: relative;
    color: white;
    margin-bottom: 100px;
    border-radius: 10px;
}

.product .Button {
    padding: 20px;
    background: blueviolet;
    border: 2px solid slategrey;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    color: white;
    position: absolute;
    bottom: 15px;
    left: 85px;
    text-decoration: none;
}

.product img {
    width: 100px !important;
    margin-right: 30px;
    border-radius: 50%;
    height: 100px;
    padding: 10px;
}