/* AddTourisom Css Part */




.images img {
    width: 500px;
    margin-left: 100px;
}



.itam {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 100px;

}

form input {
    width: 40%;
    color: rgb(58, 54, 52);
    margin: 20px;
    padding: 10px;
    border: 3px solid rgb(133, 95, 62);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
}