.Tourist {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 100px;
}


h1 {
    color: rgb(155, 82, 48);
    font-weight: 800;
    font-size: 50px;
    margin: 50px;
}