.From-full {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}


.image img {
    margin-top: 100px;
}

.From-full .From {
    width: 100%;
    padding: 100px;

}

.text {
    color: ghostwhite;
    margin-left: 30px;
}

.From input {
    border: 2px;
    font-size: 20px;
}

.form-select {
    margin: 20px;

}


.fromer {
    border: 4px solid rebeccapurple;
    padding: 50px;
    box-sizing: border-box;
    box-shadow: 3px 3px rgba(251, 255, 0, 0.692), -1em 0 .4em olive;
    border-radius: 10px;
}


select {
    padding: 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    font-family: cursive;
}